 <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/candycode/loco" class="button fork"><strong>View On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="https://github.com/candycode/loco/zipball/master" class="button">ZIP</a></li>
            <li><a href="https://github.com/candycode/loco/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
 </div><!-- end banner -->

